.modal-body{
font-family:times new roman;
font-size:3;
font-color:red;
background-color:#D0D0D0;
}
.modal-title{
font-family:arial;
font-color:black;
background-color:#FF00FF;

}
.modal-header{
font-family:arial;
font-color:black;
background-color:#FF00FF;

}
.modal-content{
font-family:arial;
font-color:black;
background-color:#FF00FF;

}
.modal-content{
font-family:arial;
font-color:black;
background-color:#FF00FF;

}
.modal-fade{
font-family:arial;
font-color:black;
background-color:#FF00FF;

}
.modal-footer{
font-family:arial;
font-color:black;
background-color:#DCDCDC;

}